---
# /_data/samplelist.yml
layout: page-6
published: true
last_modified_at: 2023-01-25
title: "TED videoları, belgeseller, podcastler, makaleler"
---

<b>TED Videolari</b>
<br />
{% for item in site.data.samplelist %} {% if item.type == "TEDVideo" %}
<div
	class="decorated"
	style="font-size: 85%"
>
	<i>
		<a href="{{ item.url }}">{{ item.title }}</a>
	</i>
</div>
{% endif %} {% endfor %}
<br />
<b>Belgesel</b>
<br />
{% for item in site.data.samplelist %} {% if item.type == "Belgesel" %}
<div
	class="decorated"
	style="font-size: 85%"
>
	<i>
		<a href="{{ item.url }}">{{ item.title }}</a>
	</i>
</div>
{% endif %} {% endfor %}
<br />
<b>Podcast</b>
<br />
{% for item in site.data.samplelist %} {% if item.type == "Podcast" %}
<div
	class="decorated"
	style="font-size: 85%"
>
	<i>
		<a href="{{ item.url }}">{{ item.title }}</a>
	</i>
</div>
{% endif %} {% endfor %}
<br />
<b>Makale</b>
<br />
{% for item in site.data.samplelist %} {% if item.type == "Makale" %}
<div
	class="decorated"
	style="font-size: 85%"
>
	<i>
		<a href="{{ item.url }}">{{ item.title }}</a>
	</i>
</div>
{% endif %} {% endfor %}
<br />
{% assign sample_data = site.data.samplelist %} {% assign media = sample_data |
size %}
<i>{{ media }}</i>

<br />
